services:
  app:
    build: .
    ports:
      - "8080:8080"
    command: ["/app/exe"]
    volumes:
      - ./config/config.docker.yaml:/app/config/config.docker.yaml:ro
      - ./config/docker.env:/app/.env:ro
    environment:
      HTTP_SERVER_PASSWORD: pass
    depends_on:
      - postgres
      - redis
      - migrate

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: myapp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - out:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  migrate:
    image: migrate/migrate:v4.17.1
    depends_on:
      - postgres
    volumes:
      - ./migrations:/migrations:ro
    entrypoint:
      [
        "migrate",
        "-path",
        "/migrations",
        "-database",
        "postgres://postgres:pass@postgres:5432/myapp?sslmode=disable",
        "up"
      ]

volumes:
  out:
